name: Publish Vocabulary Workflow from yml

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      version:
        required: false
        type: string
      namespace_label:
        required: true
        type: string
      namespace:
        required: true
        type: string
      linkml_schema:
        required: true
        type: string
      data:
        required: true
        type: string
      
    secrets:
        token:
          required: true
          
jobs:
  yml-to-skos:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}
      
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          token: ${{ secrets.token }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install pip dependencies
        run: pip install skosify linkml

      - name: Convert yml to rdf
        run: |
          linkml-convert --schema "${{ inputs.linkml_schema}}" -t ttl "${{ inputs.data}}" > linked_data.rdf.ttl

      - name: Add language annotations
        run: |
           python3 rules/language.py \
            -s ${{ inputs.linkml_schema }} \
            -d ${{ inputs.data }} \
            -t linked_data.rdf.ttl \
            -n "${{ inputs.namespace}}" \
            -o language_annotated.rdf.ttl
      
      - name: Run skosify
        run: |
          skosify language_annotated.rdf.ttl -o voc.skos.ttl \
            --namespace "${{ inputs.namespace}}" \
            --set-modified \
            --cleanup-unreachable \
            -l en
      
      - name: Upload vocabulary
        uses: actions/upload-artifact@v4
        with:
          name: voc-from-yml.skos.ttl
          path: ./voc.skos.ttl

      - name: Publish  
        if: github.event_name == 'release'
        uses: ./.github/workflows/skosmos_upload.yml
        with:
          artifact: voc-from-yml.skos.ttl
          token: ${{ secrets.GITHUB_TOKEN }}
